html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;	
}

.container {
	width: 100%;
	height: 100%;	
	border: 1px solid gray;
	position: relative;
}

.headerDiv{
	width:100%;
	height: 5%;
	position: relative;
	background-color: cyan;
}

.contentDiv{
	width:100%;
	height: 95%;
	position: relative;
	background-color: #DFDFDF;
}

.left{
	position: absolute;
	left:0;
	width:10%;
	height: 96.5%;
	padding: 10px;		
	overflow: auto;
}

.center{
	position: absolute;
	left: 12%;
	width: 73%;
	height: 100%;		
	border-left: 1px solid gray;	
	/*background-color: pink;*/
}

.right{
	position: absolute;
	right: 0;
	width: 15%;
	height: 100%;	
	border-left: 1px solid gray;
	border-right: 1px solid gray;	
}

.leftOfCenter{
	position:absolute;
	left: 0;
	width: 170px;
	height:100%;
	padding:10px;
	/*background-color:blue;*/
	border-right: 1px solid gray;	
	overflow:auto;
}

.rightOfCenter{
	position:absolute;
	right: 0;
	width: 76.7%;
	height:80%;
	padding:10px;
	border-right: 1px solid gray;	
	/*background-color:magenta;*/
	overflow:auto;
}

.rightBottomOfCenter{
	position:absolute;
	bottom: 0;
	right: 0;
	width: 76.5%;
	height:74px;
	padding:10px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;	
	/*background-color:wheat;*/
	overflow:auto;
	overflow-x: hidden;
	overflow-y: hidden;	
}

.titleMenu{
	position:absolute;
	left:0;
	width:170px;
	height:3%;
	padding:10px;
	/*background-color:wheat;*/
}

.newProjectCreateDiv{
	position:absolute;
	top:9%;
	left:0px;
	width:170px;
	height:84%;
	padding:10px;
	overflow: auto;
	/*background-color:#EDFDEF;*/
}


.button {
	padding: 1px 1px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 3px;   
	overflow: auto; 
}

.button:hover {background-color: #3e8e41}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#title_bar{
	background: orange;
	height:25px;
	width:100%;	
}

#restoreButton{	
	position: absolute;
	right: 5px;
	width: 25px;
	height: 23px;	
	cursor:pointer;
}

.createButton{
	position: absolute;
	text-align: center;
	right: 5px;
	width: 20px;
	height: 20px;	
	cursor:pointer;	
}

#box{
	overflow: auto;     
	padding: 5px;
	height:94%;
	/*background: gray;*/
}



li {
	list-style-type: none;
}


